{% extends '::base.html.twig' %}

{% block title %}
    Письмо благодарности
{% endblock %}

{% block body %}
    <p>{{ surname }} {{ name }}, благодарим Вас что заполнили заявку. Ожидайте ответа на ваш {{ email }}</p>
{% endblock %}